body{
    font-family: 'Poppins', sans-serif;
}
.welcome-heading-one{
    font-size: 50px;
}
#name-orange-one{
    color: orange;
}
.half-width{
   padding: 0% 0% 0% 10%;
    width: 50%;
}
.half-width img{
    width: 90%;
}
#section-one{
    display: flex;
   
}
#Hire-me-button-anchor{
    font-weight: 700;
    border-radius: 5px;
    background-image: linear-gradient(90deg,red,orange);
    padding: 5px 15px 5px 15px;
color: aliceblue;
    text-decoration: none;
}